@font-face {
  font-family: GTWalsheim_regular;
  font-weight: normal;
  src: url("https://res.cloudinary.com/whil/raw/upload/v1672616041/fonts/GTWalsheimPro-Regular_ggrgnp.ttf");
}

* {
  font-family: GTWalsheim_regular;
}
