:root {
  --background-color: #fff;
  --text-color: #1a1a1a;
  --link-color: #543fd7;
}

html[data-theme="light"] {
  --background-color: #fff;
  --text-color: #1a1a1a;
  --link-color: #543fd7;
}

html[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #f7f8f8;
  --link-color: #828fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}
